@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap');
html{
    scroll-behavior: smooth ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}



nav {

    display: flex;
    justify-content: space-between;
    background-color: transparent;

}

.fixed-nav {
    box-shadow: 1px 1px 10px #00000059;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(245, 248, 248);
transition: 0.4s;
}

.nav-img {
    display: flex;
    justify-content: space-between;
}

.nav-img img {


    margin-left: 50px;
    width: 135px;
    height: 75px;
}

.Contact-links {
    display: flex;
}

.linksContainer {
    margin-right: 90px;
    transition: 0.3s;

}

.links {
    display: flex;
}
.links li a {
    text-decoration: none;

}
.links li {
    color: rgba(0, 0, 0, 0.758);
    font-size: 1rem;
    padding: 1.7rem 1rem;
    list-style: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-family: 'Fira Sans', sans-serif;
}

.links li:hover {
    transition: 1s;

    color: rgb(152, 72, 227);
}

.Contact-links li {
    letter-spacing: 0.8rem;
    list-style: none;
    font-size: larger;
    padding: 1.6rem 0rem;
    cursor: pointer;

    color: rgb(140, 140, 207);
}

.Contact-links li:hover {
    transition: 1s;
    color: rgba(152, 77, 222, 0.619);
}


@media screen and (max-width:800px) {

    nav {
        display: block;
        background-color: white;
    }


    .nav-img img {
        margin-left: 15px;
    }

    .linksContainer {
        overflow: hidden;
        height: 0;
        width: 100%;

    }

    .links {
        flex-direction: column;

    }

    .links li {
        font-size: 1.2rem;
        padding: 0.5rem;
        text-transform: capitalize;
    }

    .links li:hover {

        padding-left: 1.5rem;
        background-color: aqua;
    }

    .toggle {
        border: none;
        font-size: 30px;
        position: absolute;
        right: 20px;
        background-color: transparent;
        padding: 1.2rem 0;
    }

    .toggle:hover {
        transition: 0.2s;
        color: rgba(153, 80, 222, 0.653);
        transform: scale(1.3);
    }

}

@media screen and (min-width:800px) {

    .toggle {
        display: none;
    }
}

/* header banner */

header {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
        url(hero-bcg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.containerr h2 {
    font-size: 4.2rem;
    letter-spacing: 5px;
}

.containerr p {
    letter-spacing: 1px;
    margin-top: 15px;
    max-width: 40rem;
}

.containerr button {
    letter-spacing: 5px;
    background: rgba(255, 255, 255, 0.025);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 25px;
}

.containerr button:hover,
.containerr button a:hover {
    transition: 0.4s;
    background-color: white;
    color: rgba(0, 0, 0, 0.831);
}

@media screen and (max-width:800px) {
    .containerr p {
        max-width: 26rem;
        margin: 0 auto;
        font-size: 1rem;
    }

    .containerr h2 {
        font-size: 3.3rem;
    }
}

/* about us  */


.about-us,
.Contact-us,
.Project-Cookies,
.gallery {

    letter-spacing: 3px;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 3rem;
}

.about-us div,
.Contact-us div,
.Project-Cookies div,
.gallery div {
    padding: 13px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);
}

.about-us,
.Project-Cookies {

    background-image: linear-gradient(rgba(63, 207, 212, 0.276), rgba(255, 255, 255, 0.7));
}

.Contact-us,
.gallery {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(63, 207, 212, 0.276));

}

.about-us span,
.Contact-us span,
.Project-Cookies span,
.gallery span {
    color: cadetblue;
}

/* footer
 */
footer {

    letter-spacing: 3px;
    word-spacing: 4px;
    height: 130px;
    background-color: hsl(209, 61%, 16%);
    display: grid;
    ;
    place-items: center;
    color: white;
}

footer p {
    margin: auto;
    line-height: 25px;
    width: 80%;
    text-align: center;
}

.top-link{
    position: fixed;
    bottom: 30px;
    right: 60px;
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    background-color: rgb(213, 120, 241);
    color: white;
    font-size: 20px;
    visibility:hidden;

    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.094);
    animation: bouncer 2s  ease-in-out infinite ;
}
.show-link{
    visibility: visible;
}
@keyframes bouncer {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}